In [1]:
import pandas as pd
import numpy as np

In [2]:
mta = pd.read_csv('~/ds4a_workspace/final 9/mta_trips.csv.gz', nrows=100)
uber = pd.read_csv('~/ds4a_workspace/final 9/uber_trips_2014.csv.gz', nrows=100)
green = pd.read_csv('~/ds4a_workspace/final 9/green_trips.csv.gz', nrows=100)
yellow = pd.read_csv('~/ds4a_workspace/final 9/yellow_trips.csv.gz', nrows=100)

In [3]:
def clean_mta(df):
    df['interval'] = pd.to_datetime(df['datetime']).dt.hour
    df['ride_type'] = 'mta'
    columns = df.columns
    repeats = df['new_entries'].values
    df = pd.DataFrame(np.repeat(df.values, repeats, axis=0))
    df.columns = columns    
    return df[['ride_type','interval','latitude','longitude']]

In [4]:
mta = clean_mta(mta)
mta.head()

  ride_type interval latitude longitude
0       mta        5  40.7031   -74.013
1       mta        5  40.7031   -74.013
2       mta        5  40.7031   -74.013
3       mta        5  40.7031   -74.013
4       mta        9  40.7031   -74.013

In [5]:
def clean_uber(df):
    df['interval'] = pd.to_datetime(df['pickup_datetime']).dt.hour
    df.columns = [['datetime','latitude','longitude','base','interval']]
    df['ride_type'] = 'uber'
    return df[['ride_type','interval','latitude','longitude']]

In [6]:
uber = clean_uber(uber)
uber.head()

  ride_type  interval  latitude  longitude
0      uber         0   40.7690   -73.9549
1      uber         0   40.7267   -74.0345
2      uber         0   40.7316   -73.9873
3      uber         0   40.7588   -73.9776
4      uber         0   40.7594   -73.9722

In [7]:
def clean_taxi(df, taxi_type):
    df['interval'] = pd.to_datetime(df['pickup_datetime']).dt.hour
    df = df[['interval','pickup_latitude','pickup_longitude']]
    df.columns = ['interval','latitude','longitude']
    df['ride_type'] = taxi_type
    return df[['ride_type','interval','latitude','longitude']]

In [8]:
green = clean_taxi(green, 'green')
green.head()

/home/melissa/anaconda3/envs/projects/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  ride_type  interval   latitude  longitude
0     green         1  40.811172 -73.953545
1     green        20  40.714321 -73.946709
2     green        17  40.718094 -73.957626
3     green         2  40.713997 -73.949501
4     green        18  40.672195 -73.944092

In [9]:
yellow = clean_taxi(yellow, 'yellow')
yellow.head()

/home/melissa/anaconda3/envs/projects/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  ride_type  interval   latitude  longitude
0    yellow        18  40.706284 -74.006033
1    yellow        15  40.749357 -73.979558
2    yellow        18  40.775307 -73.956453
3    yellow        19  40.757850 -73.987212
4    yellow        16  40.755397 -73.974292

In [10]:
all_rides = pd.concat([mta,uber,green,yellow])

In [11]:
all_rides

   ride_type interval latitude longitude
0        mta        5  40.7031   -74.013
1        mta        5  40.7031   -74.013
2        mta        5  40.7031   -74.013
3        mta        5  40.7031   -74.013
4        mta        9  40.7031   -74.013
5        mta       13  40.7031   -74.013
6        mta       17  40.7031   -74.013
7        mta       21  40.7031   -74.013
8        mta       21  40.7031   -74.013
9        mta        1  40.7031   -74.013
10       mta        9  40.7031   -74.013
11       mta       13  40.7031   -74.013
12       mta       13  40.7031   -74.013
13       mta       13  40.7031   -74.013
14       mta       21  40.7031   -74.013
15       mta        1  40.7031   -74.013
16       mta        7  40.7031   -74.013
17       mta        7  40.7031   -74.013
18       mta        9  40.7031   -74.013
19       mta        9  40.7031   -74.013
20       mta        9  40.7031   -74.013
21       mta        9  40.7031   -74.013
22       mta        9  40.7031   -74.013
23       mta        9  40.7031   -74.013
24       mta        9  40.7031   -74.013
25       mta        9  40.7031   -74.013
26       mta        9  40.7031   -74.013
27       mta        9  40.7031   -74.013
28       mta        9  40.7031   -74.013
29       mta       13  40.7031   -74.013
..       ...      ...      ...       ...
70    yellow       18  40.7566  -74.0015
71    yellow       15  40.7695  -73.9957
72    yellow       21  40.7368  -73.9846
73    yellow        6  40.7138   -73.994
74    yellow       18  40.7793  -73.9557
75    yellow       13   40.746  -73.9945
76    yellow       22  40.6412  -73.7892
77    yellow       20  40.7622   -73.968
78    yellow       14   40.785  -73.9557
79    yellow       22  40.7218  -73.9963
80    yellow       22  40.7715  -73.9827
81    yellow       20  40.7064  -74.0094
82    yellow       19   40.764   -73.967
83    yellow       11  40.7712   -73.954
84    yellow       21        0         0
85    yellow       12  40.7566  -73.9869
86    yellow        6  40.7224  -74.0081
87    yellow       20  40.7506  -73.9908
88    yellow        6  40.7837   -73.957
89    yellow        9  40.7487  -73.9886
90    yellow       17  40.7551  -73.9344
91    yellow        7  40.7754  -73.9502
92    yellow       17  40.7771  -73.9791
93    yellow       14  40.7818   -73.949
94    yellow        9   40.785  -73.9808
95    yellow       18  40.7349  -73.9747
96    yellow       14  40.7618  -73.9699
97    yellow       17  40.7587   -73.972
98    yellow       19  40.7453  -73.9564
99    yellow       16  40.6446  -73.7823

[5150 rows x 4 columns]